In [1]:
import pandas as pd
import numpy as np

In [2]:
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
sdc=school_data_complete.copy()
sdc.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
totalschools = sdc.school_name.nunique()
totalstudents = sdc["Student ID"].count()
totalbudget = (sdc.budget.unique()).sum()
avgmath = (sdc.math_score.sum())/totalstudents
avgreading = (sdc.reading_score.sum())/totalstudents
percentpassmath = sdc.loc[sdc.math_score >= 70, ["Student ID"]].count()/totalstudents
percentpassreading = sdc.loc[sdc.reading_score >= 70, ["Student ID"]].count()/totalstudents
overallpassingrate = (percentpassmath+percentpassreading)/2

highleveldf = pd.DataFrame({"Total Schools":totalschools,
                            "Total Students":totalstudents,
                            "Total Budget":totalbudget,
                            "Average Math Score":avgmath,
                            "Average Reading Score":avgreading,
                            "% Passing Math":percentpassmath,
                            "% Passing Reading":percentpassreading,
                            "Overall Passing Rate":overallpassingrate})
highleveldf

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Student ID,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.803932

In [9]:
groupbyschool = sdc.set_index("school_name").groupby(["school_name"])

groupbyschool.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,37535,Norma Mata,F,10th,76,76,14,Charter,1635,1043130
Thomas High School,37536,Cody Miller,M,11th,84,82,14,Charter,1635,1043130
Thomas High School,37537,Erik Snyder,M,9th,80,90,14,Charter,1635,1043130
Thomas High School,37538,Tanya Martinez,F,9th,71,69,14,Charter,1635,1043130
Thomas High School,37539,Noah Erickson,M,9th,86,76,14,Charter,1635,1043130

In [40]:
studentsperschool=groupbyschool["Student ID"].count()
budgetperschool= groupbyschool.budget.unique()
budgetperstudent=budgetperschool/studentsperschool
avgmathscore = groupbyschool.math_score.mean()
avgreadscore = groupbyschool.reading_score.mean()
sdc[sdc["math_score"] >= 70].groupby("school_name")["Student ID"].count()/studentsperschool
sdc[sdc["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/studentsperschool

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: Student ID, dtype: float64

In [39]:
schooltypes = groupbyschool.type.unique()
studentsperschool=groupbyschool["Student ID"].count()
budgetperschool= groupbyschool.budget.unique()
avgmathperschool=groupbyschool.math_score.mean()
mathpass = sdc[sdc["math_score"] >= 70].groupby("school_name")["Student ID"].count()/studentsperschool
readpass = sdc[sdc["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/studentsperschool
overpass = (mathpass + readpass)/2

In [41]:
schoolsummary = pd.DataFrame({"School Types":schooltypes,
                            "Students Per School":studentsperschool,
                            "Budget Per School":budgetperschool,
                            "Budget Per Student":budgetperstudent,
                            "Average Math Score": avgmathscore,
                            "Average Reading Score":avgreadscore,
                            "% Passing Math" : mathpass,
                            "% Passing Reading": readpass,
                            "Overall Passing Rate":overpass

})
schoolsummary

,School Types,Students Per School,Budget Per School,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,0.933333,0.966111,0.949722

In [42]:
schoolsummary.nlargest(5, ["Overall Passing Rate"])

,School Types,Students Per School,Budget Per School,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,0.941335,0.970398,0.955867
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,0.932722,0.973089,0.952905
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,0.945946,0.959459,0.952703
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,0.933924,0.971390,0.952657
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,0.938677,0.965396,0.952037

In [43]:
schoolsummary.nsmallest(5, ["Overall Passing Rate"])

,School Types,Students Per School,Budget Per School,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,0.663666,0.802201,0.732933
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,0.659885,0.807392,0.733639
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,0.660576,0.812224,0.736400
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,0.683096,0.792990,0.738043

In [70]:
m9=sdc[sdc["grade"] == "9th"].groupby("school_name")["math_score"].mean()
m10=sdc[sdc["grade"] == "10th"].groupby("school_name")["math_score"].mean()
m11=sdc[sdc["grade"] == "11th"].groupby("school_name")["math_score"].mean()
m12=sdc[sdc["grade"] == "12th"].groupby("school_name")["math_score"].mean()

grademathscores = pd.DataFrame({
                                "9th" : m9,
                                "10th":m10,
                                "11th":m11,
                                "12th":m12
})

In [71]:
grademathscores

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [72]:
m9=sdc[sdc["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
m10=sdc[sdc["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
m11=sdc[sdc["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
m12=sdc[sdc["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

gradereadscores = pd.DataFrame({
                                "9th" : m9,
                                "10th":m10,
                                "11th":m11,
                                "12th":m12
})

In [73]:
gradereadscores

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171